#search{
    height: 22px;
    width: 25px;
    margin-left:65px;
}
#profile{
    height: 35px;
    width: 35px;
}
#logo{
    height: 40px;
    width: 130px;
    margin-left:12px;
}
.sidebar1 {
    height: 25px;
    width: 25px;
    margin: 10px 10px 10px 10px}

    

.logo1{
    
    height: 60px;
    
    margin: 15px 14px 14px 14px;

}
#search1{
    width: 900px;
    border-style: hidden;
    margin-left:2px;
}
#notify{
    margin-left:60px;
}
#profile{
    margin-left:45px;
}
#name{
    margin-left:15px;
}
#arrow{
    margin: 15px;
}
#sidebar1{
    width: 25px;
    height: 25px;
    margin: 10px 10px 10px 10px;
}
#sidebar{
    position: relative;
    left: 25px;
}
#maindiv{
    background-color: #FFF3F4;
    width: 200px;
    color: #C8242F;
}
.maincontent{
    display: flex;
}
.dashboard{
    margin-left: 24px;
    font-size: 25px;
    margin-top: 19px;
    background-color: transparent;
}
.newproduct{
    flex-direction: column;
    margin-top: 65px;
    margin-left: -80px;
    
}
.products{
    height: 28px;
}
.center
{
    background: #FAFAFA;
    margin-left: 69px;
    width: 1289px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    
}
.productdetails{
    display: flex;
    
    
}
.picon{
    height: 33px;
    width: 33px;
    margin: auto auto;
}
.p1{
    background-color: white;
   
    width: 219px;
    height: 116px;
    margin-left: 25px;
    margin-top: 23px;
    display: flex;
    
    
}
.iconheading{
    font-size: 20px;
    margin: auto auto;
}
.graphs{
    display: flex;
    flex-direction: row;
}
.graph{
    margin-top: 30px;
    background-color: white;
    margin-top: 33px;
    margin-left: 26px;
    width: 750px;
    height: 352px;
    display: flex;

}
.sale{
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}
.weekly{
    font-size: 15px;
    position: relative;
    top: 20px;
    left: 510px;
    color: #ADADAD;
    opacity: 1px;
    
}
.monthly{font-size: 15px;
    position: relative;
    top: 20px;
    left: 530px;
    color: #ADADAD;
    opacity: 1px;

}
.yearly{font-size: 15px;
    position: relative;
    top: 20px;
    left: 550px;
    color: #C8242F;
    text-decoration:underline solid #C8242F
}
.image{
    height: 275px;
    width: 730px;
    margin-left: -140px;
    margin-top: 75px;
    margin-right: 200px;
}
.pie{
    
    background-color: white;

    /* margin-left: 830px; */
    width: 385px;
    height: 354px;
    margin-top: 32px;
    margin-left: 50px;


}
.slc{
    font-size: 23px;
    margin-left: 18px;
    margin-top: 15px;
    position: relative;
    top: 12px;
}
.pieimg{
    margin-top: 12px;
    margin-left: 72px;
}

    

.red{
    font-size: 45px;
    margin-left: 43px;
    color:#C8242F;
    margin-top: -25px;
}
.usa{
    font-size: 12px;
    margin-left: 62px;
    margin-top: -37px;
}
.orange{
    
        font-size: 45px;
        margin-left: 43px;
        color: #F16C20;
        margin-top: -20px;
}
.russia{
    font-size:12px;
    margin-top: -38px;
    margin-left: 62px;
}
.green
{
    font-size: 45px;
    margin-left: 234px;
    color: #A2B86C;
    margin-top: -72px;
}
.canada{
    font-size: 12px;
    margin-top: -38px;
    margin-left: 254px;
}
.yellow{
    font-size: 45px;
    margin-top: -20px;
    margin-left: 235px;
    color: #EBC844;
    
}
.india{
    font-size: 12px;
    margin-top: -38px;
    margin-left: 256px;
}
.footer{
    
    background-color:white;
     margin-top: 31px;
    margin-left: 27px;
    width: 1157px;
    height: 558px;

}
.invoice{
   font-size: 30px;
   margin-left: 25px;
   margin-top: 25px;
}
.invoice11{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 28px;
    margin-left: 48px;
    width: 90%;

}
.viewall{
    margin-left: auto;
    color: red;
margin-right: 80px;
margin-top: 30px;

}
.table1{
    width:90%;
    background-color:white;
    margin-left: 50PX;
}
.paid{
    color: #3CDD5F;
    background-color:#EBFFEF;
    
    
    
    
}
.pending{
    color: #BABABA;
    background-color: #F8F8F8;
}
.failed{
    
    color: #FF4545;
    background-color: #FFF5F5;
}




